{% extends "partials/base_page.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
    {% if latest_photos_list %}
        <h1> KEVIN KILVINGTON PHOTO</h1>
    <div class="grid">
                
        {% for picture in latest_photos_list %}
        <div class="grid-item">
        <a href="{{ picture.photo_img.url }}"  data-lightbox="home-photos">
            <img src="{{ picture.photo_img.url }}" class="card-img-top"></img>
        </a>
        </div>
        {% endfor %}

    </div>
    {% else %}
        <p>No photos are available.</p>
    {% endif %}
</div>

{% endblock %}