Hello<strong> {{  newcontact.f_name }} {{  newcontact.l_name }}</strong>,<br>
<br>
Thank you for your intrest in my work. This email is to confirm that I have recieved your request. <br>
I am excited to speak with you and learn more about your project ideas. I will try to reach out to you as soon
as I can within the next 24 hours! <br>
<br>
Best Regards,<br>
Kevin Kilvington<br>
(856) 419-3924<br>
Kevin@KevinKilvington.com<br>
<br>
<br>
<small>Do not reply to this email as it is sent from an unmonitored inbox. Send responses to Kevin@KevinKilvington.com!</small>