{% extends "partials/base_page.html" %}

{% block title %}Contact{% endblock %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div id="message" class="container">
      <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
        <strong>
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            Error: 
          {% else %}
            {{ message.tags|title }}
          {% endif %}
        </strong>
        {{ message }}
      </div>
    </div>
  {% endfor %}
{% endif %}

<div class="container my-3">
    <div class="row text-center">
        <h2>Contact Request</h2>
    </div>
</div>

    <!-- Form -->
<div class="d-flex justify-content-center">
    <form action="{% url 'contact' %}" method="POST" role="form">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper form-group my-2">
                {{ field.error }}
                <label for="{{ form.f_name.id_for_label }}">
                    {{ field.label }}
                </label>
                {{ field }}
                {% if field.name == "email_address" %}
                <small id="emailHelp" class="form-text text-muted">I will never share your email with anyone else.</small>
                {% endif %}
            </div>
        {% endfor %}
    
        <div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>


{% endblock %}