body{
    font-family: 'Helvetica', sans-serif !important;
}

p {
    font-family: 'Courier', monospace;
}

.active {
    text-decoration: underline;
}


.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }

.profile_photo {
    border-radius: 2%;
    width: 20vw;
    min-width: 200px;
}

#album_preview div {
    overflow: hidden;
    border: none;
}

#album_preview div img {
    height: 90vmax;
    width: auto;
    max-height: 300px;
    object-fit: cover;
}