{% extends "partials/base_page.html" %}
{% block title %}Album{% endblock %}

{% load static %}
{% block content %}
<div class="container my-3">
    <div class="row text-center">
        <h2>Albums</h2>
    </div>
</div>

<div class="container content-row">
    <div class="row">
    {% if cover_photo %}
        {% for album in cover_photo %}
        <div id="album_preview" class="col-md-6 col-lg-4 mb-4">
            <a href="{% url 'events' album.photo_album.id %}">
                <div class="card bg-dark text-white text-center">
                    <img src="{{ album.photo_img.url }}" class="card-img" alt="...">
                    <div class="card-img-overlay d-flex">
                    <h3 class="card-title align-self-center mx-auto"><span class="bg-dark px-2 py-1 rounded"><u>{{ album.photo_album.Album_name }}</u></span></h3>
                    </div>
                </div>
            </a>
        </div>

        {% endfor %}

    {% else %}
        <p>No Albums are available.</p>
    {% endif %}
    </div>
</div>

{% endblock %}



