{% load static %}
<!-- Footer -->
<footer class="footer bg-light text-center text-lg-start py-2">
    <div class="container">
        <div class="row row-cols-auto">
            <div class="col">
                <p class="fs-6">
                    Photographer | Graphic Designer
                </p>
                <p class="fs-6">
                    Haddonfield, NJ 08033
                </p>
            </div>
            <div class="col">
                <p class="fs-6 text-muted">&copy;Copyright <span id="year"></span> KSquared Photography</p>
            </div>

            <div class="col">
                <a class="px-1 text-dark" href="#"><i class="fas fa-mobile-alt"></i> (856) 555-6799</a>
                <a class="px-1 text-dark" href="#"><i class="far fa-envelope"></i> Kevin@KevinKilvington.com</a>
            </div>
            <div class="col">
                <a class="px-2 text-dark" href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a class="px-2 text-dark" href="#"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
        </div>  
    </div>  
</footer>