{% load static %}
<!-- Footer -->
<footer class="footer bg-light py-2">
    <div class="container-fluid">

        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col order-0">
                <p class="">
                    Photographer | Graphic Designer
                </p>
            </div>
            <div class="col order-2 order-lg-1">
                <a class="px-1 text-dark" href="#">
                    <i class="d-none d-lg-inline fas fa-mobile-alt"></i>
                    <span class="">(856) 555-6799</span>
                </a>
                <a class="px-1 text-dark" href="#">
                    <i class="d-none d-lg-inline far fa-envelope"></i>
                    <span class="">Kevin@KevinKilvington.com</span>
                </a>
            </div>

            <div class="col order-1 order-lg-2">
                <p class="">
                    Haddonfield, NJ 08033
                </p>
            </div>
            <div class="col order-3">
                <a class="px-1 text-dark" href="#"><i class="fab fa-facebook-square fa-2x"></i></a>

                <a class="px-1 text-dark" href="#"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
        </div>

        <div class="row justify-content-start">
            <p class="fs-6 text-muted fw-lighter">&copy;Copyright <span id="year"></span> KSquared Photography</p>
        </div>
    </div>

</footer>