{% load static %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light px-2">
   <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'img/Logo_black_ksquared.svg' %}" width="40" height="40" class="d-inline-block" alt="K Squared Photohraphy Logo">
    <span class="h6 px-1 align-middle">KSquared Photography</span>
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavalt" aria-controls="navbarNavalt" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mx-auto px-3 justify-content-end" id="navbarNavalt">
        <ul class="navbar-nav">
          <li
          {% if '/' == request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>


          <li
          {% if 'albums' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
            <a class="nav-link" href="{% url 'albums' %}">Albums</a>
          </li>


          <li
          {% if 'about' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
          >
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>


          <li
          {% if 'price' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
          >
            <a class="nav-link" href="{% url 'prices' %}">Pricing</a>
          </li>


          <li
          {% if 'contact' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
          >
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
</nav>
